@model SportSystem.Web.ViewModels.PlayerViewModel

<div class="col-md-4">
    <h2>@Html.DisplayFor(x => x.Name)</h2>
    <p>@Html.DisplayNameFor(x => x.BirthDate): @Html.DisplayFor(x => x.BirthDate)</p>
    <p>@Html.DisplayNameFor(x => x.Height) : @Html.DisplayFor(x => x.Height)</p>
</div>


